{{!-- main html page --}}
<!DOCTYPE html>
<html lang="en">

{{!-- header meta-data --}}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just Tech News</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

{{!-- html body seen on every page --}}
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/" class="header-text" class="refresh">Today's <span id="tech">Tech</span></a>
            </h1>
            <nav>
                {{#if loggedIn}}
                <a href="/dashboard" class="refresh">dashboard</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/dashboard" class="refresh">dashboard</a>
                <a href="/login" class="header-text">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{!-- handlebars call to insert page partials depending on which page a user is on --}}
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{!-- handlebars call to import js files depending on if the user is loggedIn or not --}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
    <script src="/javascript/refresh.js"></script>
</body>

</html>