{{!-- handlebars html page info for the single post/add comment  dispaly --}}
{{!-- handlepars partial call passing post info --}}
{{> post-info post}}
{{!-- handleabrs conditional to display data if loggedIn --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body" id="comment-body"></textarea>
    </div>

    <div>
        <button type="submit">Add comment</button>
        <button type="button" class="like-btn">Like</button>
    </div>
</form>
{{/if}}
{{!-- handlebars partial call passing post.comments data in --}}
{{> comments post.comments }}
{{!-- handlebars conditional to import js scripts if loggedIn --}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}